{% extends "base.html" %}
{% block title %}Børkop Barber{% endblock %}
{% block main_content %}
<main>
    <section class="masthead vh-100 container-fluid">
        <div class="col-12 col-md-10 center text-center align-items-center justify-content-center d-flex flex-column h-100 mx-auto">
            <div class="info-container">
                <h1>Priser</h1>
                <table class="price-table">
                    <thead>
                        <tr>
                            <th colspan="2" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Standard Klipning</td>
                            <td>250 kr</td>
                        </tr>
                        <tr>
                            <td>Trendy Transformering</td>
                            <td>350 kr</td>
                        </tr>
                        <tr>
                            <td>Skægtrimning og Stil</td>
                            <td>150 kr</td>
                        </tr>
                        <tr>
                            <td>Luksusklipning og Forkælelse</td>
                            <td>450 kr</td>
                        </tr>
                        <tr>
                            <td>Børneklip (under 10 år)</td>
                            <td>150 kr</td>
                        </tr>
                        <tr>
                            <td>Hovedbundsmassage</td>
                            <td>50 kr</td>
                        </tr>
                        <tr>
                            <td>Skægbehandling</td>
                            <td>80 kr</td>
                        </tr>
                        <tr>
                            <td>Styling og Produktvejledning</td>
                            <td>100 kr</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{% endblock %}